.dark {
    background-color: #151515;
}
.semi-dark {
    background-color: $main-bg;
}
.mt-img {
    margin-top: 70px;
}
.w80p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.w70p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.p0-75 {
    padding: 0 75px;
}
.p0-130 {
    padding: 0 130px;
}
.mob {
    display: none;
}
.mob-s {
    display: none;
}
.mob-flex {
    display: none;
}
@media (max-width: 576px) {
    .mob-s {
        display: block;
    }
    .mob-flex {
        display: flex; 
        justify-content: center;
        margin-top: 0;
        margin-bottom: 40px;    
    }
    .p0-75 {
        padding: 0 20px;
    }
    .p0-130 {
        padding: 0 20px;
    }
    .w80p {
        width: 100%;
    }
    .w70p {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .mob {
        display: block;
    }
    .mt-img {
        margin-top: 50px;
    }
}
.mt0 {
    margin-top: 0;
}


.photo-text {
    margin-top: 205px;
    font-weight: 600;
}

.photo-text-en {
    margin-top: 152px;
    font-weight: 600;
}

@media (max-width: 1200px) {
   .photo-text {
        margin-top: 185px;
   } 
   .photo-text-en {
    margin-top: 132px;
    }
}

@media (max-width: 992px) {
    .photo-text {
         margin-top: 205px;
    } 
    .photo-text-en {
        margin-top: 162px;
   } 
 }