.btn {
    width: 294px;
    height: 75px;
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: $main-text;
    background: $second-color;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
    &.w-268 {
        width: 268px;
    }
}

@media (max-width: 992px) {
    .btn {
        width: 254px;
        height: 64px;
    }
}

@media (max-width: 576px) {
    .btn {
        font-size: 14px;
    }
}