.why {
    padding: 130px 0;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__left {
        padding-right: 60px;
        p {
            margin-top: 45px;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            color: $main-text;
        }
        img {
            display: none;
        }
    }
    &__right {
        img {
            user-select: none;
            // margin-top: 50px;
            margin-top: 210px;
            &.en {
                margin-top: 160px;
            }
            width: 100%;
        }
    }
    &__text {
        margin-top: 35px;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: $main-text;
        a {
            color: $second-color;
        }
    }
    &__btn {
        margin-top: 45px;
    }
}

@media (max-width: 1200px) {
    .why {
        padding: 90px 0;
        &__left {
            padding-right: 50px;
            p {
                margin-top: 25px;
                font-size: 16px;
                line-height: 24px;
            }
        }
        &__text {
            font-size: 16px;
            margin-top: 25px;
            line-height: 26px;
        }
        &__btn {
            margin-top: 25px;
        }
    }
}


@media (max-width: 992px) {
    .why {
        padding: 60px 0;
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 60px;
        }
        &__left {
            padding-right: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 70%;
                margin: 0 auto;
                margin-top: 50px;
                display: block;
            }
        }
        &__text {
            margin-top: 18px;
        }
        &__right {
            display: none;
            img {
                margin-top: 30px;
                
            }
        }
    }
}

@media (max-width: 768px) {
    .why {
        padding: 60px 0;
        h2 {
            text-align: center;
        }
        &__left {
            text-align: center;
        }   
        &__text {
            margin-top: 24px;
        }
        &__right {
            text-align: center;
            :not(.mob) {
                display: none;
            }
            .why__text {
                margin-top: 0px;
            }
        }
    }
}

@media (max-width: 576px) {
    .why {
        padding: 50px 0;
        h2 {

        }
        &__wrapper {

        }
        &__left {
            padding-right: 0;
            p {
                font-size: 14px;
                font-weight: 400;
            }
            img {
                width: 85%;
            }
        }   
        &__text {
            font-size: 14px;
            margin-top: 30px;
        }
        &__right {
            .why__text {
            }
        }
    }
}